{% extends "layout.html" %}
{% from "macros.html" import render_field, render_typeahead_field %}

{% block content %}
    <section class="event-page">
        {% if event == None %}
            <h1>Register a new event</h1>
        {% else %}
            <h1>Edit {{ event }}</h1>
        {% endif %}

        <form role="form" method="POST" class="event-form">
            {{ form.hidden_tag() }}

            <fieldset id="event-details">
                <h2>Event details</h2>

                <div class="two-col">
                    {{ render_field(form.name) }}
                    {{ render_field(form.website) }}
                    {{ render_field(form.league) }}
                    {{ render_typeahead_field(form.city) }}
                </div>

                {{ render_field(form.description) }}
            </fieldset>

            <fieldset id="venue-details">
                <h2>Venue details</h2>

                <div class="fields">
                    {{ render_field(form.venue_name) }}
                    {{ render_field(form.venue_capacity) }}

                    {{ render_field(form.venue_address1) }}
                    {{ render_field(form.venue_address2) }}
                </div>
            </fieldset>

            <button type="submit">Save event</button>
        </form>

    </section>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script src="{{ url_for('static', filename="bower/typeahead.js/dist/typeahead.bundle.js") }}"></script>
    <script>
        $(document).ready(function () {
            var city_source = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: "{{ url_for('geo.city_autocomplete', query="QUERY")|replace("QUERY", "%QUERY") }}",
                limit: 64
            });

            city_source.initialize();

            $('input[name="city_typeahead"]').typeahead({
                hint: true,
                highlight: true,
                minLength: 3
            }, {
                displayKey: 'name',
                source: city_source.ttAdapter()
            }).on("typeahead:selected typeahead:autocompleted", function(e,datum) {
                $('input[name="city"]').val(datum.value);
            });
        });
    </script>
{% endblock %}
