{% extends "layout.html" %}
{% from "macros.html" import pagination %}

{% block content %}
    <section class="events">
        <h1>Events</h1>

        <p>Results limited to in-progress and upcoming events.</p>

        <nav>
            <a class="button" href="{{ url_for('events.edit') }}">Register event</a>
        </nav>

        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>League</th>
                <th>City</th>
                <th>Opening</th>
                <th>Closing</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events.items %}
                <tr>
                    <td><a href="{{ url_for("events.event", _id=event.id) }}">{{ event.name }}</a></td>
                    <td>{{ event.league.name }}</td>
                    <td>{{ event.city }}</td>
                    <td>{{ event.start_time }}</td>
                    <td>{{ event.end_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ pagination(events, "events.events") }}
    </section>
{% endblock %}
