{% extends "layout.html" %}

{% block content %}
    <section class="event-page">
        <h1>{{ event.name }}</h1>
        <nav>
            {% if event.can_edit(current_user) %}
                <a class="button" href="{{ url_for('events.edit', _id=event.id) }}">Edit event</a>
            {% endif %}
        </nav>

        <div>{{ event.description|markdown }}</div>

        <dl>
            <dt>League</dt>
            <dd>{{ event.league.name }}</dd>

            <dt>City</dt>
            <dd>{{ event.city }}</dd>

            <dt>Website</dt>
            <dd>{% if event.website %}<a href="{{ event.website }}">{{ event.website }}</a>{% else %} - {% endif %}</dd>
        </dl>

        <h2>Organisers</h2>
        <ul>
            {% for organiser in event.organisers %}
                <li><a href="{{ url_for("users.user", _id=organiser.id) }}">{{ organiser }}</a></li>
            {% endfor %}
        </ul>

        {% if event.venue %}
            <h2>Venue</h2>

            <dl>
                <dt>Name</dt>
                <dd>{{ event.venue.name or "-" }}</dd>
                <dt>Capacity</dt>
                <dd>{{ event.venue.capacity or "-" }}</dd>
                <dt>Address 1</dt>
                <dd>{{ event.venue.address1 or "-" }}</dd>
                <dt>Address 2</dt>
                <dd>{{ event.venue.address2 or "-" }}</dd>
                <dt>City</dt>
                <dd>{{ event.city.name or "-" }}</dd>
                <dt>Country</dt>
                <dd>{{ event.city.country_code or "-" }}</dd>
                <dt>Zip code</dt>
                <dd>{{ event.venue.zip_code or "-" }}</dd>
            </dl>
        {% endif %}

        {% if event.days|length > 0 %}
            <h2>Days</h2>

            <table>
                <thead>
                <tr>
                    <th>Opening time</th>
                    <th>Closing time</th>
                </tr>
                </thead>
                <tbody>
                {% for day in event.days %}
                    <tr>
                        <td>{{ day.start_time }}</td>
                        <td>{{ day.end_time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </section>
{% endblock %}
