{% from "macros.html" import pagination %}
{% from "leagues/macros.html" import league_card %}
{% extends "layout.html" %}

{% block content %}
    <section class="leagues">
        <h1>Leagues</h1>

        <p>Results limited to leagues with in-progress and upcoming events.</p>

        <div class="cards">
            {% for league in leagues.items %}
                {{ league_card(league) }}
            {% endfor %}
        </div>

        {{ pagination(leagues, "leagues.leagues") }}
    </section>
{% endblock %}
