{% extends "layout.html" %}
{% from "macros.html" import logo %}
{% from "leagues/macros.html" import league_card %}

{% block content %}
    <div class="hero">
        <div class="hero-inner">
            <a href="{{ url_for('index') }}" class="hero-logo">{{ logo() }}</a>

            <div class="hero-copy">
                <h1>Find nearby pubstomps!</h1>

                <p>Pubstomp.info is an event directory &ndash; intending to make it easier for would-be attendees to find
                    out about events going on near them.</p>

                <p>See if there's any on-going or upcoming events near you:</p>

                <div id="pubstomp-map" class="google-map" style="height: 500px;"></div>

                <a class="button" href="{{ url_for("events.edit") }}">Hosting an event?</a>
            </div>
        </div>
    </div>

    <section class="popular-leagues">
        <h2>Popular leagues</h2>

        <div class="cards">
            {% for league in popular_leagues %}
                {{ league_card(league) }}
            {% endfor %}
        </div>
    </section>

    <section class="home-page">
        <div class="new-events">
            <h2>New events</h2>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>League</th>
                </tr>
                </thead>
                <tbody>
                {% for new_event in new_events %}
                    <tr>
                        <td><a href="{{ url_for('events.event', _id=new_event.id) }}">{{ new_event.name }}</a></td>
                        <td><a href="{{ url_for('geo.city', _id=new_event.city.geonameid) }}">{{ new_event.city }}</a></td>
                        <td><a href="{{ url_for('leagues.league', _id=new_event.league.id) }}">{{ new_event.league.name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="popular-cities">
            <h2>Popular cities</h2>
            <table>
                <thead>
                <tr>
                    <th>City</th>
                    <th>Events</th>
                </tr>
                </thead>
                <tbody>
                {% for popular_city in popular_cities %}
                    <tr>
                        <td><a href="{{ url_for('geo.city', _id=popular_city.geonameid) }}">{{ popular_city }}</a></td>
                        <td>{{ popular_city.events_count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </section>
    
    <section class="see-also">
        <h2>See also</h2>

        <p>To find other events to attend, or to register your own events to spread the word &ndash; check out these websites:</p>

        <table>
            <tbody>
            <tr>
                <th>Dota 2's Pubstomp micro-site</th>
                <td>The International's official pubstomp listing micro-site; list your TI4 pubstomps here and get exposure on the official Dota 2 site and blog posts.</td>
                <td><a class="button" href="http://www.dota2.com/pubstomps/?via-pubstomp-info">Visit</a></td>
            </tr>
            <tr>
                <th>Esport Meetings</th>
                <td>A community website for listing and finding e-sports events for a variety of popular e-sport games.</td>
                <td><a class="button" href="http://esportmeetings.net/?via-pubstomp-info">Visit</a></td>
            </tr>
            <tr>
                <th>/r/dota2pubstomps</th>
                <td>A subreddit for organising and finding Dota 2 pubstomps.</td>
                <td><a class="button" href="http://www.reddit.com/r/dota2pubstomps/?via-pubstomp-info">Visit</a></td>
            </tr>
            <!-- TODO: When pubstomp.gg goes live
            <tr>
                <th>Pubstomp.gg</th>
                <td></td>
                <td><a class="button" href="http://pubstomp.gg/?via-pubstomp-info">Visit</a></td>
            </tr>
            -->
            </tbody>
        </table>


        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript"
            src="//maps.googleapis.com/maps/api/js?key={{ config['GMAPS_API_KEY'] }}">
    </script>
    <script type="text/javascript">
        function initialize() {
            var mapOptions = {
                zoom: 2,
                center: {lat: 40, lng: 0}  // Doesn't work without a center ;(
            };
            var map = new google.maps.Map(document.getElementById("pubstomp-map"), mapOptions);
            var markers = {},
                infowindows = {};

            {% for event in events %}
                markers[{{ loop.index }}] = new google.maps.Marker({
                    map: map,
                    position: {
                        lat: {{ event.venue.latitude or event.city.latitude }},
                        lng: {{ event.venue.longitude or event.city.longitude }}
                    },
                    title: "{{ event.name }}"

                });

                infowindows[{{ loop.index }}] = new google.maps.InfoWindow({
                    content: '<div>' +
                            '<dl>' +
                            '<dt>Event name</dt>' +
                            '<dd><a href="{{ url_for("events.event", _id=event.id) }}">{{ event.name }}</a></dd>' +
                            '<dt>City</dt>' +
                            '<dd><a href="{{ url_for('geo.city', _id=event.city.geonameid) }}">{{ event.city }}</a></dd>' +
                            '<dt>League</dt>' +
                            '<dd><a href="{{ url_for('leagues.league', _id=event.league.id) }}">{{ event.league.name }}</a></dd>' +
                            '</dl>' +
                            '</div>' +
                            '<a class="button" href="{{ url_for("events.event", _id=event.id) }}">View event</a>'
                });


                google.maps.event.addListener(
                        markers[{{ loop.index }}],
                        'click',
                        function(e){
                            // Hide all other info windows
                            for (var key in infowindows) {
                                infowindows[key].close();
                            }
                            infowindows[{{ loop.index }}].open(map, markers[{{ loop.index }}]);
                        }
                );
            {% endfor %}
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}
