{% extends "layout.html" %}
{% from "macros.html" import logo %}
{% from "leagues/macros.html" import league_card %}

{% block content %}
    <div class="hero">
        <div class="hero-inner">
            <a href="{{ url_for('index') }}" class="hero-logo">{{ logo() }}</a>

            <div class="hero-copy">
                <h1>Find nearby pubstomps!</h1>

                <p>Find pubstomps for any league near you! Also come up with better copy.</p>

                <p>On-going and upcoming events:</p>

                <div id="pubstomp-map" class="google-map" style="height: 500px;"></div>

                <p>TODO: Search button for city/tournament</p>
            </div>
        </div>
    </div>

    <section class="popular-leagues">
        <h2>Popular leagues</h2>

        <div class="cards">
            {% for league in popular_leagues %}
                {{ league_card(league) }}
            {% endfor %}
        </div>
    </section>

    <section class="home-page">
        <div class="new-events">
            <h2>New events</h2>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>League</th>
                </tr>
                </thead>
                <tbody>
                {% for new_event in new_events %}
                    <tr>
                        <td><a href="{{ url_for('events.event', _id=new_event.id) }}">{{ new_event.name }}</a></td>
                        <td><a href="{{ url_for('geo.city', _id=new_event.city.geonameid) }}">{{ new_event.city }}</a></td>
                        <td><a href="{{ url_for('leagues.league', _id=new_event.league.id) }}">{{ new_event.league.name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="popular-cities">
            <h2>Popular cities</h2>
            <table>
                <thead>
                <tr>
                    <th>City</th>
                    <th>Events</th>
                </tr>
                </thead>
                <tbody>
                {% for popular_city in popular_cities %}
                    <tr>
                        <td><a href="{{ url_for('geo.city', _id=popular_city.geonameid) }}">{{ popular_city }}</a></td>
                        <td>{{ popular_city.events_count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript"
            src="//maps.googleapis.com/maps/api/js?key={{ config['GMAPS_API_KEY'] }}">
    </script>
    <script type="text/javascript">
        function initialize() {
            var mapOptions = {
                zoom: 2,
                center: {lat: 40, lng: 0}  // Doesn't work without a center ;(
            };
            var map = new google.maps.Map(document.getElementById("pubstomp-map"), mapOptions);
            var markers = {},
                infowindows = {};

            {% for event in events %}
                markers[{{ loop.index }}] = new google.maps.Marker({
                    map: map,
                    position: {
                        lat: {{ event.city.latitude }},
                        lng: {{ event.city.longitude }}
                    },
                    title: "{{ event.name }}"

                });

                infowindows[{{ loop.index }}] = new google.maps.InfoWindow({
                    content: '<div class="info-window">' +
                            '<dl>' +
                            '<dt>Event name</dt>' +
                            '<dd><a href="{{ url_for("events.event", _id=event.id) }}">{{ event.name }}</a></dd>' +
                            '<dt>City</dt>' +
                            '<dd><a href="{{ url_for('geo.city', _id=event.city.geonameid) }}">{{ event.city }}</a></dd>' +
                            '<dt>League</dt>' +
                            '<dd><a href="{{ url_for('leagues.league', _id=event.league.id) }}">{{ event.league.name }}</a></dd>' +
                            '</dl>' +
                            '</div>' +
                            '<a class="button" href="{{ url_for("events.event", _id=event.id) }}">View event</a>'
                });


                google.maps.event.addListener(
                        markers[{{ loop.index }}],
                        'click',
                        function(e){
                            // Hide all other info windows
                            for (var key in infowindows) {
                                infowindows[key].close();
                            }
                            infowindows[{{ loop.index }}].open(map, markers[{{ loop.index }}]);
                        }
                );
            {% endfor %}
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}
