{% extends "layout.html" %}
{% from "macros.html" import pagination %}

{% block content %}
    <section class="cities">
        <h1>Cities</h1>
        <h2>Ordered by population</h2>

        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Country Code</th>
                <th>Timezone</th>
                <th>Pubstomps</th>
            </tr>
            </thead>
            <tbody>
            {% for city in cities.items %}
                <tr>
                    <td><a href="{{ url_for("geo.city", _id=city.geonameid) }}">{{ city.name }}</a></td>
                    <td>{{ city.country_code }}</td>
                    <td>{{ city.timezone }}</td>
                    <td>{{ city.events_count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ pagination(cities, "geo.cities") }}
    </section>
{% endblock %}
