{% extends "layout.html" %}
{% from "macros.html" import pagination %}

{% block content %}
    <section class="cities">
        <h1>Cities</h1>
        <h2>Ordered by population</h2>

        <table>
            <thead>
            <tr>
{#                <th>ID</th>#}
                <th>Name</th>
{#                <th>Asciiname</th>#}
{#                <th>Alt names</th>#}
                <th>Lat</th>
                <th>Long</th>
{#                <th>Feature Class</th>#}
{#                <th>Feature Code</th>#}
                <th>Country Code</th>
{#                <th>Alt Country Codes</th>#}
{#                <th>Admin1 Code</th>#}
{#                <th>Admin2 Code</th>#}
{#                <th>Admin3 Code</th>#}
{#                <th>Admin4 Code</th>#}
                <th>Population</th>
{#                <th>Elevation</th>#}
{#                <th>Dem (wot)</th>#}
                <th>Timezone</th>
{#                <th>Modification Date</th>#}
            </tr>
            </thead>
            <tbody>
            {% for city in cities.items %}
                <tr>
{#                    <td>{{ city.geonameid }}</td>#}
                    <td>{{ city.name }}</td>
{#                    <td>{{ city.asciiname }}</td>#}
{#                    <td>{{ city.alternatenames }}</td>#}
                    <td>{{ city.latitude }}</td>
                    <td>{{ city.longitude }}</td>
{#                    <td>{{ city.feature_class }}</td>#}
{#                    <td>{{ city.feature_code }}</td>#}
                    <td>{{ city.country_code }}</td>
{#                    <td>{{ city.cc2 }}</td>#}
{#                    <td>{{ city.admin1_code }}</td>#}
{#                    <td>{{ city.admin2_code }}</td>#}
{#                    <td>{{ city.admin3_code }}</td>#}
{#                    <td>{{ city.admin4_code }}</td>#}
                    <td>{{ city.population | number_format }}</td>
{#                    <td>{{ city.elevation }}</td>#}
{#                    <td>{{ city.dem }}</td>#}
                    <td>{{ city.timezone }}</td>
{#                    <td>{{ city.modification_date }}</td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ pagination(cities, "geo.cities") }}
    </section>
{% endblock %}
